[Unit]
Description=general port forwarding
After=syslog.target network.target

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/bin/ssh -N -L {{ hostvars[item]["general_forward"] }}:0:8080 -o "StrictHostKeyChecking no" {{ item }}
User={{ bot_user }}
Group={{ bot_user }}
