[Unit]
Description=netdata port forwarding
After=syslog.target network.target

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/bin/ssh -N -L {{ hostvars[item]["netdata_forward"] }}:0:19999 -o "StrictHostKeyChecking no" {{ item }}
User={{ bot_user }}
Group={{ bot_user }}
