[Unit]
Description=isucon9-app
After=syslog.target network.target

[Service]
Type=simple
Restart=always
ExecStart=/home/{{ bot_user }}/app/app
EnvironmentFile=/home/{{ bot_user }}/env
LimitNOFILE=65535
