[mysqld]

# 最大接続数
max_connections = 16384

# 最終計測時はOFFにすること
slow_query_log = ON
long_query_time = 1
log_output = TABLE

# クエリキャッシュ（ONにするかは要検討）
query_cache_type = OFF
query_cache_size = 512MB

# https://www.slideshare.net/kazeburo/mysql-casual7isucon
# https://gist.github.com/south37/d4a5a8158f49e067237c17d13ecab12a#file-03_mysql-md
# innodb_buffer_pool_size = 1GB # ディスクイメージをメモリ上にバッファさせる値をきめる設定値
# innodb_flush_log_at_trx_commit = 2 # 1に設定するとトランザクション単位でログを出力するが 2 を指定すると1秒間に1回ログファイルに出力するようになる
# innodb_flush_method = O_DIRECT # データファイル、ログファイルの読み書き方式を指定する(実験する価値はある)
